* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #accC4c, #679748);
    color: #404a29;
    text-align: center;
}

header {
    padding: 20px;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    text-shadow: 2px 2px #ebcd72;
}

section {
    width: 90%; 
    max-width: 600px; /
}

section img {
    width: 100%; 
    max-height: 60vh; 
    object-fit: contain; 
}

footer {
    margin-top: 20px;
    color: #a8613a;
}

footer a {
    color: #497435;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #679748;
}
